<html>
    <head>
    <title>The Gossip Project</title>
    </head>

    <body>
        <h1>PAGE POTIN</h1>
        <h2>Here is the gossip page N° <%= id %></h2>
        <h3>Author : <%= gossip.author %></h3>
        <h3>Content : <%= gossip.content %></h3>

        <a href="/">Back to gossips page!</a>
    </body>
</html>